---
import Button from '@/components/Button.astro'

interface Props {
  /**
    Default case study data
  */
  data: {
    heading: string
    overline: string
    description: string
    kpis: {
      label: string
      value: string
    }[]
    cta: {
      label: string
      url: string
    }
  }
  /**
    Aspect ratio of the media container
  */
  mediaAspectRatio: string
  /**
    The unique ID for the case study
  */
  id?: string
  /**
    Additional classes to pass to the component
  */
  class?: string
}

const { data, mediaAspectRatio, class: className, id, ...attrs } = Astro.props
---

<article
  class:list={[
    className,
    'group flex w-full flex-col rounded-20 odd:origin-left even:origin-right md:w-[calc(100%+80px)] md:flex-row md:rounded-40 md:odd:-translate-x-80 md:odd:flex-row-reverse',
  ]}
  data-case-study
  id={id}
  {...attrs}
>
  <div
    class="flex w-full flex-col justify-center gap-24 p-24 sm:p-32 md:min-w-[450px] md:px-[7vw] md:py-64 xl:px-96"
  >
    <p class="sr-only">{data.heading} case study</p>
    <p class="text-sm text-black" data-case-text>{data.overline}</p>
    <div class="space-y-8">
      <h2
        class="text-2xl font-bold text-black"
        data-case-text
        aria-hidden="true"
      >
        {data.heading}
      </h2>
      <p data-case-text class="text-balance">{data.description}</p>
    </div>

    <ul class="flex flex-wrap gap-32" data-case-text>
      {
        data.kpis.map(({ label, value }: { label: string; value: string }) => (
          <li class="space-y-8">
            <p class="text-lg font-bold text-black">{value}</p>
            <p class="text-xs">{label}</p>
          </li>
        ))
      }
    </ul>
    {
      data.cta && (
        <Button
          variant="secondary"
          size="sm"
          class="mt-8 self-start"
          label={data.cta.label}
          href={data.cta.url}
          aria-label={`Read the ${data.heading} Case Study`}
          data-case-text
        />
      )
    }
  </div>

  <figure class="case__media" style={`aspect-ratio: ${mediaAspectRatio}`}>
    <slot />
  </figure>
</article>

<style>
  .case__media {
    @apply relative -order-1 mx-auto flex w-[calc(100%-32px)] items-center;

    @screen sm {
      @apply -mt-32;
    }

    @screen md {
      @apply order-none -my-96 w-full min-w-[650px] max-w-[800px];
    }

    & :global(> *) {
      @apply absolute flex h-full w-full items-center justify-center;

      @screen md {
        @apply min-w-[650px] max-w-[800px] object-contain group-odd:right-0;
      }
    }

    & :global(img) {
      will-change: transform, opacity;
    }
  }

  [data-case-study],
  [data-case-text] {
    opacity: 0;
    will-change: transform, opacity;

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
      & {
        opacity: 1;
      }
    }
  }
</style>

<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  import { mmFilters } from '@/scripts/app.ts'
  import type { AnimatedElement } from '@/scripts/app.ts'

  gsap.matchMedia().add(mmFilters, (context) => {
    let { reduceMotion } = context.conditions ?? {}

    const caseStudies = gsap.utils.toArray(
      '[data-case-study]',
    ) as AnimatedElement[]

    gsap.set(caseStudies, { opacity: 0 })

    ScrollTrigger.batch(caseStudies, {
      batchMax: 3,
      start: 'top 85%',
      end: 'bottom top',
      once: true,
      onEnter: (batch) => {
        batch.forEach((el: AnimatedElement, i: number) => {
          setAnimation(el, i)
        })
      },
      onEnterBack: (batch) => {
        batch.forEach((el: AnimatedElement, i: number) => {
          setAnimation(el, i, -1)
        })
      },
    })

    function setAnimation(
      el: AnimatedElement,
      index: number = 0,
      direction?: -1 | 1,
    ) {
      direction = direction || 1

      const timeline = gsap.timeline({
        invalidateOnRefresh: true,
        immediateRender: false,
      })

      const textElements = gsap.utils.toArray(
        el.querySelectorAll('[data-case-text]'),
      )

      timeline
        .fromTo(
          el,
          {
            opacity: 0,
            y: reduceMotion ? 0 : 75 * direction,
            scale: reduceMotion ? 1 : 0.925,
          },
          {
            opacity: 1,
            scale: 1,
            y: 0,
            delay: reduceMotion ? 0 : index * 0.2,
            ease: 'circ.out',
            duration: 0.3,
            clearProps: 'x, y, scale',
          },
        )
        .fromTo(
          textElements,
          {
            opacity: 0,
            y: reduceMotion ? 0 : 50 * direction,
            scale: reduceMotion ? 1 : 0.925,
          },
          {
            opacity: 1,
            y: 0,
            scale: 1,
            stagger: reduceMotion ? 0 : 0.15 * direction,
            ease: 'circ.out',
            duration: 0.5,
            clearProps: 'y',
          },
          '<',
        )

      // store the timeline on the element
      el.timeline = timeline
    }
  })
</script>
