---
import Button from '@/components/Button.astro'

interface Props {
  /**
    Default case study data
  */
  data: {
    heading: string
    overline: string
    description: string
    kpis: {
      label: string
      value: string
    }[]
    cta: {
      label: string
      url: string
    }
  }
  /**
    Additional classes to pass to the component
  */
  class?: string
}

const { data, class: className } = Astro.props
---

<article
  class:list={[
    className,
    'group flex w-full flex-col rounded-20 md:w-[calc(100%+80px)] md:flex-row md:rounded-40 md:odd:-translate-x-80 md:odd:flex-row-reverse',
  ]}
>
  <div
    class="flex flex-col justify-center gap-32 p-32 md:min-w-[450px] md:px-[7vw] md:py-64 xl:px-96"
  >
    <!-- text -->
    <div class="space-y-24">
      <p class="text-sm">{data.overline}</p>
      <div class="space-y-8">
        <h2 class="text-2xl font-bold">{data.heading}</h2>
        <p>{data.description}</p>
      </div>
      <ul class="flex flex-wrap gap-32">
        {
          data.kpis.map(
            ({ label, value }: { label: string; value: string }) => (
              <li class="space-y-8">
                <p class="text-lg font-bold">{value}</p>
                <p class="text-xs">{label}</p>
              </li>
            ),
          )
        }
      </ul>
    </div>
    <Button
      variant="secondary"
      size="sm"
      label={data.cta.label}
      href={data.cta.url}
    />
  </div>

  <slot name="media" />
</article>
