---
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'

import CaseStudy from '@/components/case-studies/CaseStudy.astro'

import grubDashboard from '@/assets/images/GrubMarket/dashboard.png'
import grubGraph from '@/assets/images/GrubMarket/graph.png'
import grubTagInventory from '@/assets/images/GrubMarket/tag-inventory.png'
import grubTagPurchasing from '@/assets/images/GrubMarket/tag-purchasing.png'
import grubTagSellingShipping from '@/assets/images/GrubMarket/tag-selling-shipping.png'
import grubInventory from '@/assets/images/GrubMarket/stock.png'
import grubRowHighlight from '@/assets/images/GrubMarket/row-highlight.png'
import grubKpis from '@/assets/images/GrubMarket/kpis.png'

const entry = await getEntry('case-studies', 'grub-market')
---

<CaseStudy
  data={entry.data}
  class="odd:bg-card-gradient-1 even:bg-card-gradient-2"
  mediaAspectRatio="1050/776"
>
  <div class="asset" data-animate-assets>
    <svg
      viewBox="0 0 700 517"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="animate-dash h-full w-full"
      ><path
        d="M132.871 514.101c-33.003-24.702-44.652-71.037-46.062-106.157-1.28-31.893 24.942-121.359 71.126-138.726 46.184-17.368 68.486-109.93 83.968-169.174C257.384 40.8 334.951 6.728 387.001 2.906 450.813-1.779 487.772 54.02 504.325 87.37c12.726 25.638 11.597 75.389 23.41 120.28 11.814 44.89 61.094 84.438 92.474 80.834"
        stroke="#ADDD92"
        stroke-width="4"
        stroke-linecap="round"
        stroke-dasharray="8 8"></path><circle
        class="animate-pulse"
        cx="638"
        cy="287"
        r="10.5"
        fill="#8AB374"></circle></svg
    >
  </div>
  <div class="asset" data-speed="0.98">
    <Image
      src={grubKpis}
      alt=""
      data-animate-assets="right"
      class="-translate-y-24"
    />
  </div>
  <div class="asset" data-speed="1.01">
    <Image src={grubDashboard} alt="" data-animate-assets />
  </div>
  <div class="asset" data-speed="0.94">
    <Image src={grubGraph} alt="" data-animate-assets="right" />
  </div>

  <div class="asset" data-speed="0.98">
    <Image src={grubInventory} alt="" data-animate-assets="down" />
  </div>
  <div class="asset" data-speed="1.03">
    <Image src={grubRowHighlight} alt="" data-animate-assets="left" />
  </div>
  <div class="asset" data-speed=".98">
    <Image src={grubTagSellingShipping} alt="" data-animate-assets="up" />
  </div>
  <div class="asset" data-speed=".98">
    <Image src={grubTagInventory} alt="" data-animate-assets="up" />
  </div>
  <div class="asset" data-speed=".98">
    <Image src={grubTagPurchasing} alt="" data-animate-assets="up" />
  </div>
</CaseStudy>

<style>
  .animate-dash {
    animation: lineDash 60s linear infinite forwards;
  }

  .animate-pulse {
    /* cx and cy of the circle */
    transform-origin: 638px 287px;
    animation: pulse 3s linear infinite forwards;
  }

  @keyframes lineDash {
    to {
      stroke-dashoffset: -1000;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
