---
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'
import CaseStudy from '@/components/case-studies/CaseStudy.astro'

const entry = await getEntry('case-studies', 'grub-market')

import grubDashboard from '@/assets/images/GrubMarket/dashboard.png'
import grubDotted from '@/assets/images/GrubMarket/dotted-line.svg'
import grubGraph from '@/assets/images/GrubMarket/graph.png'
import grubTagInventory from '@/assets/images/GrubMarket/tag-inventory.png'
import grubTagPurchasing from '@/assets/images/GrubMarket/tag-purchasing.png'
import grubTagSellingShipping from '@/assets/images/GrubMarket/tag-selling-shipping.png'
import grubStock from '@/assets/images/GrubMarket/stock.png'
import grubRowHighlight from '@/assets/images/GrubMarket/row-highlight.png'
---

<CaseStudy
  data={entry.data}
  class="odd:bg-card-gradient-1 even:bg-card-gradient-2"
>
  <div
    slot="media"
    class="relative flex aspect-[1050/776] w-full items-center md:-my-96 <md:-order-1 <md:-mt-56 [&_img]:absolute [&_img]:h-full group-odd:[&_img]:right-0 md:[&_img]:min-w-[500px] md:[&_img]:object-contain"
  >
    <Image src={grubDotted} alt="" />
    <Image src={grubDashboard} alt="" />
    <Image src={grubGraph} alt="" />
    <Image src={grubTagInventory} alt="" />
    <Image src={grubTagPurchasing} alt="" />
    <Image src={grubTagSellingShipping} alt="" />
    <Image src={grubStock} alt="" />
    <Image src={grubRowHighlight} alt="" />
  </div>
</CaseStudy>
