---
import { getEntry } from 'astro:content'

import InlineSvg from '@/components/InlineSvg.astro'
import Button from '@/components/Button.astro'
import HeroKPIs from '@/components/hero/HeroKPIs.astro'
import Blob from '@/components/Blob.astro'

const entry = await getEntry('sections', 'hero')

const { Content } = await entry.render()
---

<header id="hero">
  <div
    class="wrapper grid min-h-[600px] items-center gap-48 py-64 md:grid-cols-5"
  >
    <div
      class="flex flex-col items-start gap-24 md:col-span-3"
      data-animate="up"
    >
      <!-- overline -->
      <div class="flex flex-wrap gap-12 md:gap-24">
        <InlineSvg name="logo-wordmark" title="Viget" class="h-28" />
        <p
          class="inline-flex whitespace-pre after:ml-16 after:h-2 after:w-36 after:self-center after:bg-black <sm:after:hidden"
        >
          <Fragment set:html={entry.data.overline} />
        </p>
      </div>

      <div class="flex max-w-3xl flex-col gap-24">
        <h1
          class="text-balance text-4xl font-bold text-black"
          data-animate="up"
        >
          {entry.data.heading}
        </h1>
        <div class="rich-text" data-animate="up">
          <Content />
        </div>
      </div>

      <Button
        label={entry.data.cta.label}
        href={entry.data.cta.url}
        data-animate="up"
      />
    </div>
    <div
      class="relative mx-auto flex w-full items-center justify-center md:col-span-2 md:h-full"
    >
      <div
        class="absolute inset-0 max-w-3xl <md:translate-y-[-12.5%]"
        data-animate
        data-animate-duration="2"
      >
        <Blob
          class="h-full w-full opacity-75 blur-[20px] <md:scale-150"
          noiseStep={0.002}
          hueStart={120}
          hueStop={160}
        />
      </div>
      <HeroKPIs kpis={entry.data.kpis} />
    </div>
  </div>
</header>
