---
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'

import InlineSvg from '@/components/InlineSvg.astro'
import List from '@/components/design-and-develop/List.astro'
import Button from '@/components/Button.astro'

import designDevelop from '@/assets/images/design-and-develop/full.png'

const entry = await getEntry('sections', 'design-and-develop')
---

<section class="my-56 bg-gray">
  <div class="wrapper flex w-full flex-col items-center gap-56 py-112">
    <div class="flex flex-col items-center gap-24 text-center">
      <h2 class="text-3xl font-bold text-black">{entry.data.heading}</h2>
      <p class="text-balance max-w-2xl text-lg">{entry.data.subheading}</p>
    </div>
    <div
      class="grid w-full items-center gap-x-8 gap-y-56 md:grid-cols-2 lg:grid-cols-[300px_1fr_300px] lg:gap-32"
    >
      <List details={entry.data.left} />
      <div class="relative row-span-2 flex items-center lg:row-span-1">
        <InlineSvg
          name="blob"
          class="absolute inset-0 w-full max-w-3xl translate-y-[-12.5%] scale-110"
        />
        <Image src={designDevelop} alt="" class="relative w-full" />
      </div>
      <List details={entry.data.right} />
    </div>
    <Button
      href={entry.data.cta.url}
      label={entry.data.cta.label}
      class="relative"
      size="lg"
    />
  </div>
</section>
