---
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'

import CaseStudy from '@/components/case-studies/CaseStudy.astro'

import behaviorAsset from '@/assets/images/case-studies/spectrum-ai/behavior.svg'
import brainAsset from '@/assets/images/case-studies/spectrum-ai/brain.svg'
import controlsAsset from '@/assets/images/case-studies/spectrum-ai/controls.svg'
import segmentedControlAsset from '@/assets/images/case-studies/spectrum-ai/segmented-control.svg'
import tracker1Asset from '@/assets/images/case-studies/spectrum-ai/tracker-1.svg'
import tracker2Asset from '@/assets/images/case-studies/spectrum-ai/tracker-2.svg'
import tracker3Asset from '@/assets/images/case-studies/spectrum-ai/tracker-3.svg'
import tracker4Asset from '@/assets/images/case-studies/spectrum-ai/tracker-4.svg'
import screenAsset from '@/assets/images/case-studies/spectrum-ai/screen.png'

const entry = await getEntry('case-studies', 'spectrum-ai')
---

<CaseStudy
  data={entry.data}
  class="bg-gradient"
  mediaAspectRatio="751/491"
  id="spectrum-ai"
>
  <figcaption class="sr-only">
    A collection of assets related to the Spectrum AI dashboard. Assets include
    a video feed, tracking prompts, and controls for various inputs.
  </figcaption>
  <div data-spectrum-asset="brain">
    <Image
      src={brainAsset}
      alt=""
      class="w-4/5 translate-y-[-5%] sm:translate-y-0 sm:scale-110"
    />
  </div>
  <div data-speed="1.01">
    <Image src={screenAsset} alt="" data-spectrum-asset="screen" />
  </div>
  <div data-speed="0.96">
    <Image src={behaviorAsset} alt="" data-spectrum-asset="behavior" />
  </div>
  <div data-speed="0.97">
    <Image
      src={segmentedControlAsset}
      alt=""
      data-spectrum-asset="segmented-control"
    />
  </div>
  <div data-speed="1.02">
    <Image src={controlsAsset} alt="" data-spectrum-asset="controls" />
  </div>
  <div data-speed="0.98">
    <Image src={tracker1Asset} alt="" data-spectrum-asset="tracker" />
    <Image src={tracker2Asset} alt="" data-spectrum-asset="tracker" />
    <Image src={tracker3Asset} alt="" data-spectrum-asset="tracker" />
    <Image src={tracker4Asset} alt="" data-spectrum-asset="tracker" />
  </div>
</CaseStudy>

<style>
  :root {
    --spectrum-shadow-1: 0px 12px 40px 0px rgba(0, 102, 182, 0.24),
      0px 4px 6px -2px rgba(0, 0, 0, 0.08);
  }

  .bg-gradient {
    background: linear-gradient(
        85deg,
        hsla(0, 0%, 100%, 0.4) 12.02%,
        hsla(0, 0%, 100%, 0) 89.19%
      ),
      linear-gradient(
        266deg,
        hsla(196, 100%, 94%, 0.4) 5.26%,
        hsla(196, 100%, 94%, 0) 84.55%
      ),
      linear-gradient(
        265deg,
        hsla(255, 100%, 55%, 0.32) 1.94%,
        hsla(234, 100%, 64%, 0) 61.64%
      ),
      linear-gradient(
        160deg,
        hsla(169, 42%, 58%, 0.79) -82.01%,
        hsl(201, 81%, 90%) 19.5%,
        hsl(12, 100%, 94%) 127.46%,
        hsl(223, 63%, 77%) 211.25%
      );
  }

  [data-spectrum-asset='screen'] {
    @apply relative left-[6%] w-[55.5%];

    box-shadow:
      0px 12px 40px 0px rgba(105, 86, 55, 0.24),
      0px 4px 6px -2px rgba(0, 0, 0, 0.08);
  }

  [data-spectrum-asset='controls'] {
    @apply relative left-[-16%] top-[-23%] w-[20%] motion-reduce:top-[-30%];

    filter: drop-shadow(0px 12px 40px rgba(0, 102, 182, 0.24))
      drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.08));
  }

  [data-spectrum-asset='behavior'] {
    @apply relative left-[-28%] top-[-10%] w-[25%] motion-reduce:top-[-2%];

    box-shadow:
      0px 6px 16px 0px rgba(0, 102, 182, 0.12),
      0px 2px 6px 0px rgba(0, 0, 0, 0.08);

    @screen md {
      @apply top-[-3%];
    }
  }

  [data-spectrum-asset='segmented-control'] {
    @apply relative left-[-13%] top-[22%] w-[35%];

    box-shadow: var(--spectrum-shadow-1);
  }

  [data-spectrum-asset='tracker'] {
    --tracker-top: 45%;
    --tracker-height: 8%;
    --tracker-gap: 1%;

    @apply absolute left-[70%] w-auto rounded-[0.25vmin];

    @screen md {
      @apply left-[65%];
    }

    height: var(--tracker-height);
    top: var(--tracker-top);
    box-shadow: var(--spectrum-shadow-1);

    &:nth-of-type(2) {
      top: calc(
        var(--tracker-top) + var(--tracker-height) + var(--tracker-gap)
      );
    }

    &:nth-of-type(3) {
      top: calc(
        var(--tracker-top) + (var(--tracker-height) * 2) +
          (var(--tracker-gap) * 2)
      );
    }

    &:nth-of-type(4) {
      top: calc(
        var(--tracker-top) + (var(--tracker-height) * 3) +
          (var(--tracker-gap) * 3)
      );
    }
  }

  [data-spectrum-asset] {
    @screen md-lg {
      transform: translateX(-100px);
    }
  }
</style>

<script>
  import { gsap } from 'gsap'
  import { mmFilters } from '@/scripts/app.ts'

  gsap.matchMedia().add(mmFilters, (context) => {
    let { reduceMotion } = context.conditions ?? {}

    const scaleCheck = reduceMotion ? 1 : 0.925
    const stagger = reduceMotion ? '0' : '<0.2'

    gsap
      .timeline({
        scrollTrigger: {
          trigger: '#spectrum-ai',
          start: 'top 85%',
          end: 'bottom top',
          toggleActions: 'play none none none',
        },
        invalidateOnRefresh: true,
        immediateRender: false,
        defaults: {
          duration: 1,
          ease: 'circ.out',
          clearProps: 'x,y',
        },
      })
      .from('[data-spectrum-asset="brain"]', {
        opacity: 0,
        y: reduceMotion ? 0 : 50,
        scale: scaleCheck,
      })
      .from(
        '[data-spectrum-asset="screen"]',
        {
          opacity: 0,
          y: reduceMotion ? 0 : -50,
          scale: reduceMotion ? 1 : 0.925,
          rotation: reduceMotion ? 0 : 10,
        },
        stagger,
      )
      .from(
        '[data-spectrum-asset="controls"]',
        {
          opacity: 0,
          y: reduceMotion ? 0 : -50,
          x: reduceMotion ? 0 : -25,
          scale: scaleCheck,
        },
        stagger,
      )
      .from(
        '[data-spectrum-asset="tracker"]',
        {
          opacity: 0,
          y: reduceMotion ? 0 : 50,
          scale: scaleCheck,
          stagger: reduceMotion ? 0 : 0.15,
        },
        stagger,
      )
      .from(
        '[data-spectrum-asset="behavior"]',
        { opacity: 0, x: reduceMotion ? 0 : 50, scale: scaleCheck },
        stagger,
      )
      .from(
        '[data-spectrum-asset="segmented-control"]',
        { opacity: 0, y: reduceMotion ? 0 : -50, scale: scaleCheck },
        stagger,
      )
  })
</script>
