---
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'

import CaseStudy from '@/components/case-studies/CaseStudy.astro'

import stockAsset from '@/assets/images/case-studies/standard-ai/stockphoto.png'
import phoneAsset from '@/assets/images/case-studies/standard-ai/phone.png'
import outlineAsset from '@/assets/images/case-studies/standard-ai/outline.svg'
import mapAsset from '@/assets/images/case-studies/standard-ai/map.svg'
import card1Asset from '@/assets/images/case-studies/standard-ai/card-1.svg'
import card2Asset from '@/assets/images/case-studies/standard-ai/card-2.svg'
import card3Asset from '@/assets/images/case-studies/standard-ai/card-3.svg'
import pinAsset from '@/assets/images/case-studies/standard-ai/pin.svg'

const entry = await getEntry('case-studies', 'standard-ai')
---

<CaseStudy
  data={entry.data}
  class="bg-gradient <md:pl-16 [&_figure]:pb-56"
  mediaAspectRatio="665/492"
  id="standard-ai"
>
  <figcaption class="sr-only">
    A collection of assets related to the Standard AI application. Assets
    include fanned out credit cards, a mobile wallet, and a top-down map with
    icons representing people moving within a space.
  </figcaption>
  <div data-speed="0.99">
    <Image src={outlineAsset} alt="" data-standard-ai-asset="outline" />
  </div>
  <div data-speed="0.99">
    <Image
      src={stockAsset}
      alt=""
      data-standard-ai-asset="stockphoto"
      class="shadow-stockphoto"
    />
  </div>
  <div data-speed="0.99">
    <Image src={card1Asset} alt="" data-standard-ai-asset="card" />
  </div>
  <div data-speed="0.985">
    <Image src={card2Asset} alt="" data-standard-ai-asset="card" />
  </div>
  <div data-speed="0.98">
    <Image src={card3Asset} alt="" data-standard-ai-asset="card" />
  </div>
  <div data-speed="1.01">
    <Image
      src={phoneAsset}
      alt=""
      data-standard-ai-asset="phone"
      class="shadow-phone"
    />
  </div>
  <div data-speed="0.99">
    <Image src={mapAsset} alt="" data-standard-ai-asset="map" />
  </div>
  <div data-speed="0.995">
    <Image src={pinAsset} alt="" data-standard-ai-asset="pin" />
  </div>
</CaseStudy>

<style>
  .bg-gradient {
    background: linear-gradient(
        77deg,
        hsla(0, 0%, 98%, 0.7) 21.84%,
        hsla(223, 100%, 95%, 0) 56.06%
      ),
      linear-gradient(
        264deg,
        hsla(191, 81%, 62%, 0.25) 11%,
        hsla(165, 60%, 82%, 0) 66.99%
      ),
      linear-gradient(
        164deg,
        hsla(169, 42%, 58%, 0.79) -267.34%,
        hsl(201, 81%, 90%) -136.59%,
        hsl(12, 100%, 94%) 2.46%,
        hsl(223, 63%, 77%) 110.39%
      );
  }

  .shadow-phone,
  .shadow-stockphoto {
    filter: drop-shadow(0px 12px 20px rgb(105 86 55 / 24%))
      drop-shadow(0px 4px 3px rgb(0 0 0 / 8%));
  }

  [data-standard-ai-asset='card'] {
    @apply -mt-32;

    @screen md {
      @apply -mt-64;
    }
  }
</style>

<script>
  import { gsap } from 'gsap'
  import { mmFilters } from '@/scripts/app.ts'

  gsap.matchMedia().add(mmFilters, (context) => {
    let { reduceMotion } = context.conditions ?? {}

    const scaleCheck = reduceMotion ? 1 : 0.925
    const stagger = reduceMotion ? '0' : '<0.2'

    gsap
      .timeline({
        scrollTrigger: {
          trigger: '#standard-ai',
          toggleActions: 'play none play none',
          once: true,
        },
        invalidateOnRefresh: true,
        immediateRender: false,
        defaults: {
          duration: 1,
          ease: 'circ.out',
          clearProps: 'x,y',
        },
      })
      .from('[data-standard-ai-asset="phone"]', {
        opacity: 0,
        y: reduceMotion ? 0 : 100,
        scale: scaleCheck,
      })
      .from(
        '[data-standard-ai-asset="stockphoto"]',
        {
          opacity: 0,
          x: reduceMotion ? 0 : -50,
          rotation: reduceMotion ? 0 : -5,
          scale: scaleCheck,
        },
        '<',
      )
      .from(
        '[data-standard-ai-asset="map"]',
        {
          opacity: 0,
          rotation: reduceMotion ? 0 : -5,
          x: reduceMotion ? 0 : -20,
          scale: scaleCheck,
        },
        stagger,
      )
      .from(
        '[data-standard-ai-asset="pin"]',
        {
          opacity: 0,
          transformOrigin: 'left',
          scale: scaleCheck,
        },
        stagger,
      )
      .from(
        '[data-standard-ai-asset="card"]',
        {
          x: reduceMotion ? 0 : -75,
          y: reduceMotion ? 0 : 25,
          rotate: reduceMotion ? 0 : 25,
          transformOrigin: '25% center',
          scale: reduceMotion ? 1 : 0.9,
          opacity: 0,
          stagger: reduceMotion ? 0 : -0.1,
          ease: 'back.out(1)',
        },
        stagger,
      )
  })
</script>
