---
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'

import CaseStudy from '@/components/case-studies/CaseStudy.astro'

import stockAsset from '@/assets/images/case-studies/standard-ai/stockphoto.png'
import phoneAsset from '@/assets/images/case-studies/standard-ai/phone.png'
import outlineAsset from '@/assets/images/case-studies/standard-ai/outline.svg'
import mapAsset from '@/assets/images/case-studies/standard-ai/map.svg'
import card1Asset from '@/assets/images/case-studies/standard-ai/card-1.svg'
import card2Asset from '@/assets/images/case-studies/standard-ai/card-2.svg'
import card3Asset from '@/assets/images/case-studies/standard-ai/card-3.svg'
import pinAsset from '@/assets/images/case-studies/standard-ai/pin.svg'

const entry = await getEntry('case-studies', 'standard-ai')
---

<CaseStudy
  data={entry.data}
  class="bg-gradient"
  mediaAspectRatio="665/525"
  id="standard-ai"
>
  <figcaption class="sr-only">
    A collection of assets related to the Standard AI application. Assets
    include fanned out credit cards, a mobile wallet, and a top-down map with
    icons representing people moving within a space.
  </figcaption>
  <div data-speed="1.01">
    <Image src={outlineAsset} alt="" data-standard-ai-asset="outline" />
  </div>
  <div data-speed="1.015">
    <Image src={stockAsset} alt="" data-standard-ai-asset="stockphoto" />
  </div>
  <div data-speed=".97">
    <Image src={card1Asset} alt="" data-standard-ai-asset="card" />
    <Image src={card2Asset} alt="" data-standard-ai-asset="card" />
    <Image src={card3Asset} alt="" data-standard-ai-asset="card" />
  </div>
  <div data-speed="1.025">
    <Image src={phoneAsset} alt="" data-standard-ai-asset="phone" />
  </div>
  <div data-speed="1.01">
    <Image src={mapAsset} alt="" data-standard-ai-asset="map" />
  </div>
  <div data-speed="1.02">
    <Image src={pinAsset} alt="" data-standard-ai-asset="pin" />
  </div>
</CaseStudy>

<style>
  :root {
    --standard-ai-shadow: 0px 12px 40px 0px rgba(105, 86, 55, 0.24),
      0px 4px 6px -2px rgba(0, 0, 0, 0.08);
  }

  .bg-gradient {
    background: linear-gradient(
        77deg,
        hsla(0, 0%, 98%, 0.7) 21.84%,
        hsla(223, 100%, 95%, 0) 56.06%
      ),
      linear-gradient(
        264deg,
        hsla(191, 81%, 62%, 0.25) 11%,
        hsla(165, 60%, 82%, 0) 66.99%
      ),
      linear-gradient(
        164deg,
        hsla(169, 42%, 58%, 0.79) -267.34%,
        hsl(201, 81%, 90%) -136.59%,
        hsl(12, 100%, 94%) 2.46%,
        hsl(223, 63%, 77%) 110.39%
      );
  }

  [data-standard-ai-asset='outline'] {
    @apply w-9/10;

    @screen md-lg {
      @apply relative left-[-5%];
    }
  }

  [data-standard-ai-asset='phone'] {
    @apply relative top-[8%] w-[28%] rounded-[2vmin];

    box-shadow: var(--standard-ai-shadow);

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
      @apply top-0;
    }

    @screen md-lg {
      @apply left-[-10%];
    }
  }

  [data-standard-ai-asset='stockphoto'] {
    @apply relative left-[-30%] top-[10%] w-[40%] rounded-[1vmin];

    box-shadow: var(--standard-ai-shadow);

    @screen md-lg {
      @apply left-[-35%];
    }
  }

  [data-standard-ai-asset='map'] {
    @apply relative left-[34%] top-[25%] w-[40%];

    @screen lg {
      @apply left-[32%] top-[16%] w-[35%];
    }

    @screen md-lg {
      @apply left-[22%];
    }
  }

  [data-standard-ai-asset='pin'] {
    @apply relative left-[-35%] top-[-20%] w-[4%];

    @screen md {
      @apply top-[-12%];
    }
  }

  [data-standard-ai-asset='card'] {
    --card-top: -22.5%;
    --card-height: 17.5%;
    --card-gap: -10%;

    @apply absolute left-[59%] w-auto origin-bottom-left rounded-[1vmin];

    height: var(--card-height);
    top: var(--card-top);
    box-shadow:
      0px 12px 40px 0px rgba(105, 86, 55, 0.24),
      0px 4px 6px -2px rgba(0, 0, 0, 0.08);
    transform: rotate(-36deg);

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
      --card-top: 5%;
    }

    @screen sm {
      --card-top: -15%;

      @media screen and (prefers-reduced-motion: reduce), (update: slow) {
        --card-top: 10%;
      }
    }

    @screen md {
      --card-top: 10%;
      --card-height: 15%;

      @media screen and (prefers-reduced-motion: reduce), (update: slow) {
        --card-top: 20%;
      }
    }

    @screen md-lg {
      @apply left-[49%];
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      @apply left-[60%];

      @screen md-lg {
        @apply left-[50%];
      }
    }

    &:nth-of-type(2) {
      top: calc(var(--card-top) + var(--card-height) + var(--card-gap));
      transform: rotate(-21deg);
    }

    &:nth-of-type(3) {
      top: calc(
        var(--card-top) + (var(--card-height) * 2) + (var(--card-gap) * 2)
      );
      transform: rotate(-6deg);
    }
  }
</style>

<script>
  import { gsap } from 'gsap'
  import { mmFilters } from '@/scripts/app.ts'

  gsap.matchMedia().add(mmFilters, (context) => {
    let { reduceMotion } = context.conditions ?? {}

    const scaleCheck = reduceMotion ? 1 : 0.925
    const stagger = reduceMotion ? '0' : '<0.2'

    gsap
      .timeline({
        scrollTrigger: {
          trigger: '#standard-ai',
          start: 'top 85%',
          end: 'bottom top',
          toggleActions: 'play none none none',
        },
        invalidateOnRefresh: true,
        immediateRender: false,
        defaults: {
          duration: 1,
          ease: 'circ.out',
          clearProps: 'x,y',
        },
      })
      .from('[data-standard-ai-asset="phone"]', {
        opacity: 0,
        y: reduceMotion ? 0 : 100,
        scale: scaleCheck,
      })
      .from(
        '[data-standard-ai-asset="stockphoto"]',
        {
          opacity: 0,
          x: reduceMotion ? 0 : -50,
          rotation: reduceMotion ? 0 : -5,
          scale: scaleCheck,
        },
        '<',
      )
      .from(
        '[data-standard-ai-asset="map"]',
        {
          opacity: 0,
          rotation: reduceMotion ? 0 : -5,
          x: reduceMotion ? 0 : -20,
          scale: scaleCheck,
        },
        stagger,
      )
      .from(
        '[data-standard-ai-asset="pin"]',
        {
          opacity: 0,
          scale: scaleCheck,
        },
        stagger,
      )
      .from(
        '[data-standard-ai-asset="card"]',
        {
          x: reduceMotion ? 0 : -100,
          y: reduceMotion ? 0 : 25,
          rotate: reduceMotion ? '+=0' : '+=25',
          scale: scaleCheck,
          opacity: 0,
          stagger: reduceMotion ? 0 : -0.1,
          ease: 'back.out(1)',
        },
        stagger,
      )
  })
</script>
