---
import Nav from '@/components/Nav.astro'

interface Props {
  title: string
  description: {
    short: string
    long: string
  }
  socialImage: string
}

const { title, description, socialImage } = Astro.props
---

<script src="@/scripts/app.ts"></script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description.long} />
    <meta name="viewport" content="width=device-width" />

    <meta itemprop="name" content={title} />
    <meta itemprop="description" content={description.long} />
    <meta itemprop="image" content={socialImage} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description.short} />
    <meta property="og:image" content={socialImage} />
    <meta property="og:url" content="https://viget-startups.netlify.app/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@viget" />
    <meta name="twitter:image:alt" content={description.short} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main class="overflow-x-hidden">
      <Nav />
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Geomanist';
    src: url('/fonts/geomanist-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Geomanist';
    src: url('/fonts/geomanist-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Geomanist';
    src: url('/fonts/geomanist-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    html {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.0000000001s !important;
      transition-delay: 0.0000000001s !important;
      transition-duration: 0.0000000001s !important;
    }
  }

  body {
    @apply relative flex flex-col overflow-x-hidden bg-white font-sans text-md font-light text-primary;
    max-width: 100vw;
    min-width: 320px;
  }

  .wrapper {
    @apply mx-auto max-w-8xl px-20 sm:px-40;
  }

  .text-balance {
    text-wrap: balance;
  }

  [data-speed] {
    will-change: transform;
  }

  [data-animate] {
    opacity: 0;
    will-change: transform, opacity;

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
      & {
        opacity: 1;
      }
    }
  }
</style>
